<html lang="en">
  <body class="welcome">
    <div class='play'>
      <p>
        <h1>Welcome to Blackjack!</h1>
        <form action="/new_player" type="post">
          <input type="submit" name="play?" class="btn btn-lg" value="Play Now" />
        </form>
      </p>
    </div>
  </body>
</html>